* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background: #000;
    color: #fff;
    z-index: 1;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}

li {
    list-style: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * PRELOADER * * * * * * * * * * * * * * * * * * * * * * * * * */

.preloader {
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.preloader .latest-release-desktop {
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.preloader .latest-release-mobile {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.preloader span {
    position: absolute;
    z-index: 10;
    width: 150px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * BUTTONS * * * * * * * * * * * * * * * * * * * * * * * * * */

.btn-bars {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
    height: 33px;
    width: 33px;
}

.btn-bars span {
    display: block;
    height: 3px;
    background: #fafafa;
    border-radius: 2px;
}

.btn-bars span {
    position: absolute;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.btn-bars span:first-child {
    top: 5px;
    width: 33px;
}

.btn-bars span:nth-child(2) {
    margin-left: -11px;
    width: 33px;
    top: 12px;
}

.btn-bars span:nth-child(3) {
    width: 27px;
    top: 20px;
}

.btn-bars.active span {
    width: 33px;
}

.btn-bars.active span:first-child {
    top: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-bars.active span:nth-child(2) {
    opacity: 0;
}

.btn-bars.active span:last-child {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.btn-down,
.btn-right,
.btn-left {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    border-radius: 40px;
    position: absolute;
    border: 2px solid gray;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.btn-down:hover,
.btn-right:hover,
.btn-left:hover {
    border: 2px solid #fff;
}

.btn-left-desktop,
.btn-right-desktop {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    border-radius: 40px;
    position: absolute;
    border: 2px solid gray;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.btn-left-desktop:hover,
.btn-right-desktop:hover {
    border: 2px solid #fff;
}

.btn-albums {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    border-radius: 40px;
    border: 2px solid gray;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    overflow: hidden;
    width: 120px;
    margin-left: 20px;
    font-size: 16px;
}

.btn-albums:hover {
    border: 2px solid #fff;
}

.btn-albums i {
    font-size: 24px;
    margin-left: 5px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPER * * * * * * * * * * * * * * * * * * * * * * * * * */

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.c-red {
    color: #f04455;
}

.fw-bold {
    font-weight: 700;
}

.c-gray {
    color: gray;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * * * * * * */

.header {
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 15px;
    position: relative;
}

.logo {
    width: 150px;
}

.logo img {
    width: 100%;
}

.menu ul {
    position: fixed;
    background: rgb(0, 0, 0, 0.8);
    width: 100% !important;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    opacity: 0;
    height: 100vh;
    visibility: hidden;
}

.menu ul.active {
    visibility: visible;
    opacity: 1;
}

.menu ul li {
    margin: 15px 0;
}

.menu ul li a {
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
}

.menu ul li a:hover {
    text-decoration: line-through;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * FULLPAGE JS * * * * * * * * * * * * * * * * * * * * * * * * * */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #fff;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    z-index: 0;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: gray;
}

/* slider */

.fp-controlArrow.fp-prev {
    background: none;
    border: none;
}

.fp-controlArrow.fp-next {
    background: none;
    border: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HERO * * * * * * * * * * * * * * * * * * * * * * * * * */

.hero {
    background: url('../images/hero-bg-2-min-mobile.jpg') no-repeat;
    background-size: cover;
    background-position-x:  center;
}

.section.hero {
    z-index: 99;
}

.hero .btn-down {
    bottom: 50px;
    left: calc(50% - 20px);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * ALBUMS * * * * * * * * * * * * * * * * * * * * * * * * * */

.albums {
    background: #000;
    background-size: cover;
}

.album {
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.album img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.albums-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.album-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.album-info {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin-top: 20px;
}

.album-info h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.album-year {
    color: gray;
}

.album-btn {
    font-family: 'Open Sans', sans-serif;
    color: #E8104C;
    padding: 10px;
    font-size: 14px;
}

.btn-right-inner {
    overflow: hidden;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    font-size: 18px;
    color: #fff;
}

.albums-buttons {
    position: absolute;
    bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    z-index: 10;
}

.albums-buttons button {
    position: relative;
    margin: 0 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * ALBUMS PAGE * * * * * * * * * * * * * * * * * * * * * * * * * */

.albums-wrapper-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1920px;
    width: 100%;
}

.album-2 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    position: relative;
    display: block;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    height: 50vh;
}

.album-2:hover>.album-info {
    opacity: 1;
}

.album-2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.album-2 .album-info {
    position: absolute;
    color: #fff;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    margin-top: 0;
}

.btn-left-desktop {
    position: absolute;
    left: 20%;
    top: 50%;
    z-index: 15;
}

.btn-right-desktop {
    position: absolute;
    right: 20%;
    top: 50%;
    z-index: 15;
}

.albums-buttons .btn-left,
.albums-buttons .btn-right {
    display: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * CONCERTS * * * * * * * * * * * * * * * * * * * * * * * * * */

.concerts {
    background: rgb(7, 7, 7);
}

.concerts .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.concerts h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.concerts a {
    color: #fff;
}

.concerts a:hover {
    color: gray;
}

.concerts td {
    padding: 0.5em 1em 0.5em 0;
    font-size: 18px;
    font-weight: 300;
}

.concerts tr:first-child td {
    color: gray;
}

.concerts s {
    color: gray;
}

.white {
    width: 100%;
    background: #fff;
    height: 2px;
}

.socials {
    position: absolute;
    bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.socials a {
    margin: 10px;
}

.socials i {
    font-size: 20px;
    color: #fff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    font-weight: 400;
}

.socials a:hover i.fa-vk {
    color: #4C75A3;
}

.socials a:hover i.fa-instagram {
    color: #333333;
}

.socials a:hover i.fa-telegram {
    color: #34A8DB;
}

.socials a:hover i.fa-youtube-play {
    color: #FF0000;
}

.concerts .btn-down {
    bottom: 50px;
    left: calc(50% - 20px);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * CONCERTS * * * * * * * * * * * * * * * * * * * * * * * * * */

.contacts h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 30px;
}

.contacts .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
}

.contacts p {
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 1280px) {
    .album {
        height: 150px;
        -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    }

    .albums-wrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .album .album-info h3 {
        font-size: 14px;
    }

    .album .album-year {
        font-size: 14px;
    }

    .album-2 {
        -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
    }
}

@media screen and (max-width: 992px) {
    .album-2 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
}

@media screen and (min-width: 992px) {
    .concerts table {
        max-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .btn-left-desktop,
    .btn-right-desktop {
        display: none;
    }


    .albums-buttons .btn-left,
    .albums-buttons .btn-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .btn-albums {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .album {
        max-width: 200px;
        max-height: 200px;
        min-height: 200px;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        -webkit-filter: brightness(70%);
        filter: brightness(70%);
    }

    .preloader .latest-release-desktop {
        display: none;
    }
    .preloader .latest-release-mobile {
        display: block;
    }
    .album .album-info h3 {
        font-size: 12px;
    }

    .album .album-year {
        font-size: 12px;
    }

    .albums-wrapper-2 {
        padding-top: 50px;
    }

    .album-2 {
        margin: 50px;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        height: auto;
    }

    .logo {
        width: 120px;
    }
}

@media screen and (max-width: 375px) {
    .concerts td {
        font-size: 14px;
    }
}